<br>
<div class="row">
  <div class="col-lg-6 mb-4" *ngFor="let product of products;  let i=index" >

    <!-- Illustrations -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"><a href="/sensors/{{product.id}}">{{product.name}}</a></h6>
        <div class="dropdown no-arrow" >
          <button (click)="getEnStation(product.id)"  data-toggle="modal" [attr.data-target]="'#modal' + product.id" class="btn btn-success btn-circle btn-sm" style="display: inline-block;text-align: right;">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="deletePack(product.id)" class="btn btn-danger btn-circle btn-sm" style="display: inline-block;text-align: right;">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>

      <!-- edit modal -->
      <div class="modal fade" id="modal{{product.id}}" tabindex="-1" role="dialog"
           aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="padding-left: 150px" id="formModal">Editar el paquete</h5><br><br>
              <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <label><b>Estation Espagnol</b></label>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li>Nombre : <input type="text" name="name" [(ngModel)]="product.name" class="form-control"></li>
                  <li>Precio : <input type="text" name="price" [(ngModel)]="product.price" class="form-control"></li>
                  <li>Descripción : <input type="text" name="description" [(ngModel)]="product.description" class="form-control"></li>
                  <li>Garantia : <input type="text" name="garantia" [(ngModel)]="product.garantia" class="form-control"></li>
                  <li>Software : <input type="text" name="software" [(ngModel)]="product.software" class="form-control"></li>
                </ul>

                <label><b>Estation Ingles</b></label>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li>Nombre : <input type="text" name="name" [(ngModel)]="stationEn.name" class="form-control"></li>
                  <li>Precio : <input type="text" name="price" [(ngModel)]="stationEn.price" class="form-control"></li>
                  <li>Descripción : <input type="text" name="description" [(ngModel)]="stationEn.description" class="form-control"></li>
                  <li>Garantia : <input type="text" name="garantia" [(ngModel)]="stationEn.garantia" class="form-control"></li>
                  <li>Software : <input type="text" name="software" [(ngModel)]="stationEn.software" class="form-control"></li>
                </ul>
              </form>
            </div>
            <div class="modal-footer">
              <button (click)="editPack(product, product.id, stationEn, stationEn.id)" type="button" data-dismiss="modal" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                </span>
                <span class="text">Editar</span>
              </button>
              <button type="button" class="btn btn-danger btn-icon-split"
                      data-dismiss="modal">
                <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span><span class="text">Cancelar</span> </button>

            </div>
          </div>
        </div>
      </div>
      <!-- end edit modal -->

      <div class="card-body">
        <div class="text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets/{{product.photo}}" alt="">
        </div>
        <ul>
          <li><b>{{product.price}}</b></li>
          <li>Descripción : {{product.description}}</li>
          <li>Software : {{product.software}}</li>
          <li>Garantia : {{product.garantia}}</li>
        </ul>
        <a href="" (click)="getEnStation(product.id)" data-toggle="modal" [attr.data-target]="'#english' + product.id">Mostrar el paquete en inglés</a>
      </div>
      <!-- show in english modal -->
      <div class="modal fade" id="english{{product.id}}" tabindex="-1" role="dialog"
           aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="padding-left: 150px" id="formModalEnglish">Estacion Ingles</h5><br><br>
              <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li><b>Nombre : </b>{{stationEn.name}}</li>
                  <li><b>Precio : </b>{{stationEn.price}}</li>
                  <li><b>Descripción : </b>{{stationEn.description}}</li>
                  <li><b>Software : </b>{{stationEn.software}}</li>
                  <li><b>Garantia : </b>{{stationEn.garantia}}</li> </ul>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-icon-split" data-dismiss="modal">
                    <span class="text">Cancelar</span>
              </button>

            </div>
          </div>
        </div>
      </div>
      <!-- end english modal -->
    </div>
  </div>
</div>
