
<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Insertar estacion : Espanol</div>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <form>
              <div>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li><input type="text" name="name" [(ngModel)]="station.name" class="form-control"
                             placeholder="Por favor ingrese el nombre de la estacion" ></li>
                  <li><input type="text" name="type" [(ngModel)]="station.price" class="form-control"
                             placeholder="Por favor, introduzca el precio de la estacion" ></li>
                  <li><input type="text" name="description" [(ngModel)]="station.description" class="form-control"
                             placeholder="Por favor, introduzca la descripción de la estacion" ></li>
                  <li><input type="text" name="quantity" [(ngModel)]="station.garantia" class="form-control"
                             placeholder="Por favor ingrese la garantia de la estacion" ></li>
                  <li><input type="text" name="software" [(ngModel)]="station.software" class="form-control"
                             placeholder="Por favor ingrese el software de la estacion" ></li>
                </ul>

                <button type="button"  (click)="addStation()" class="btn btn-success btn-icon-split">
                  <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                  <span class="text">Insertar la estacion</span>
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div class="card border-left-secondary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Insertar estacion : Ingles</div>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <form>
              <div>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li><input type="text" name="name" [(ngModel)]="stationEn.name" class="form-control"
                             placeholder="Por favor ingrese el nombre de la estacion" ></li>
                  <li><input type="text" name="precio" [(ngModel)]="station.price" class="form-control"
                             placeholder="Por favor, introduzca el precio de la estacion" ></li>
                  <li><input type="text" name="description" [(ngModel)]="stationEn.description" class="form-control"
                             placeholder="Por favor, introduzca la descripción de la estacion" ></li>
                  <li><input type="text" name="garantia" [(ngModel)]="station.garantia" class="form-control"
                             placeholder="Por favor ingrese la garantia de la estacion" ></li>
                  <li><input type="text" name="software" [(ngModel)]="station.software" class="form-control"
                             placeholder="Por favor ingrese el software de la estacion" ></li>
                </ul>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

Insertar sensor <button (click)="addDiv()" class="btn btn-primary btn-circle btn-lg">
  <i class="fas fa-plus"></i>
</button>
<br>

<ng-template #container>
</ng-template>
<br>
