<br>
<div class="row">
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Insertar sensores : Espanol</div>
          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">
        <form>
          <div>
            <ul style="list-style-type: none; padding-left: 0px;">
              <li><input type="text" name="name" [(ngModel)]="sensor.name" class="form-control"
                         placeholder="Por favor ingrese el nombre del sensor" ></li>
              <li><input type="text" name="type" [(ngModel)]="sensor.type" class="form-control"
                         placeholder="Por favor, introduzca el tipo de sensor" ></li>
              <li><input type="text" name="description" [(ngModel)]="sensor.description" class="form-control"
                         placeholder="Por favor, introduzca la descripción del sensor" ></li>
              <li><input type="number" name="quantity" [(ngModel)]="sensor.quantity" class="form-control"
                         placeholder="Por favor ingrese la cantidad del sensor" ></li>
            </ul>

            <button type="button"  (click)="addSensor()" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50"><i class="fas fa-check"></i></span>
              <span class="text">Insertar el sensor</span>
            </button>

          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Insertar sensores : Ingles</div>
          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <form>
            <div>
              <ul style="list-style-type: none; padding-left: 0px;">
                <li><input type="text" name="name" [(ngModel)]="sensorEn.name"  class="form-control"
                           placeholder="Por favor ingrese el nombre del sensor" ></li>
                <li><input type="text" name="type"  [(ngModel)]="sensor.type" class="form-control"
                           placeholder="Por favor, introduzca el tipo de sensor" ></li>
                <li><input type="text" name="description" [(ngModel)]="sensorEn.description" class="form-control"
                           placeholder="Por favor, introduzca la descripción del sensor" ></li>
                <li><input type="number" name="quantity" [(ngModel)]="sensor.quantity" class="form-control"
                           placeholder="Por favor ingrese la cantidad del sensor" ></li>
              </ul>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<button (click)="addDiv()" class="btn btn-primary btn-circle btn-lg">
  <i class="fas fa-plus"></i>
</button>

<br>
<ng-template #container>
</ng-template>
<br>
