<div class="mb-4">
<ul style="list-style-type: none; padding-left: 0px;">
  <li><b>Nombre : </b>{{station.name}}</li>
  <li><b>Precio : </b>{{station.price}}</li>
  <li><b>Descripción : </b>{{station.description}}</li>
  <li><b>Software : </b>{{station.software}}</li>
  <li><b>Garantia : </b>{{station.garantia}}</li>
</ul>
</div>
<br>
<div class="row">
  <div class="col-lg-6 mb-4" *ngFor="let product of sensors;  let i=index">

    <!-- Illustrations -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{product.name}}</h6>
          <div class="dropdown no-arrow" >
            <button (click)="getEnSensor(product.id)"  data-toggle="modal" [attr.data-target]="'#modal' + product.id" class="btn btn-success btn-circle btn-sm" style="display: inline-block;text-align: right;">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteSensor(product.id)" class="btn btn-danger btn-circle btn-sm" style="display: inline-block;text-align: right;">
              <i class="fas fa-trash"></i>
            </button>
          </div>
      </div>

      <!-- edit modal -->
      <div class="modal fade" id="modal{{product.id}}" tabindex="-1" role="dialog"
           aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="padding-left: 150px" id="formModal">Editar el sensor</h5><br><br>
              <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <label><b>Sensor Espagnol</b></label>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li><b>Nombre : </b><input type="text" name="name" [(ngModel)]="product.name" class="form-control"></li>
                  <li><b>Tipo : </b><input type="text" name="type" [(ngModel)]="product.type" class="form-control"></li>
                  <li><b>Descripción :</b><input type="text" name="description" [(ngModel)]="product.description" class="form-control"></li>
                  <li><b>Cantidad : </b><input type="number" name="quantity" [(ngModel)]="product.quantity" class="form-control"></li></ul>

                <label><b>Sensor Ingles</b></label>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li><b>Nombre : </b><input type="text" name="name" [(ngModel)]="sensorEn.name" class="form-control"></li>
                  <li><b>Tipo : </b><input type="text" name="type" [(ngModel)]="sensorEn.type" class="form-control"></li>
                  <li><b>Descripción :</b><input type="text" name="description" [(ngModel)]="sensorEn.description" class="form-control"></li>
                  <li><b>Cantidad : </b><input type="number" name="quantity" [(ngModel)]="sensorEn.quantity" class="form-control"></li></ul>

              </form>
            </div>
            <div class="modal-footer">
              <button (click)="editSensor(product, product.id, sensorEn, sensorEn.id)" type="button" data-dismiss="modal" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                </span>
                <span class="text">Editar</span>
              </button>
              <button type="button" class="btn btn-danger btn-icon-split"
                      data-dismiss="modal">
                <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span><span class="text">Cancelar</span> </button>

            </div>
          </div>
        </div>
      </div>
      <!-- end edit modal -->

      <div class="card-body">
        <div class="text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets/img/{{product.photo}}" alt="">
        </div>
        <ul style="list-style-type: none; padding-left: 0px;">
          <li><b>Type : </b>{{product.type}}</li>
          <li><b>Description :</b> {{product.description}}</li>
          <li><b>Quantity : </b>{{product.quantity}}</li>
        </ul>
        <a href="" (click)="getEnSensor(product.id)" data-toggle="modal" [attr.data-target]="'#english' + product.id">Mostrar el sensor en inglés</a>
      </div>
      <!-- show in english modal -->
      <div class="modal fade" id="english{{product.id}}" tabindex="-1" role="dialog"
           aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="padding-left: 150px" id="formModalEnglish">Sensor Ingles</h5><br><br>
              <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <ul style="list-style-type: none; padding-left: 0px;">
                  <li><b>Nombre : </b>{{sensorEn.name}}</li>
                  <li><b>Tipo : </b>{{sensorEn.type}}</li>
                  <li><b>Descripción : </b>{{sensorEn.description}}</li>
                  <li><b>Cuandidad : </b>{{sensorEn.quantity}}</li>
                </ul>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-icon-split" data-dismiss="modal">
                <span class="text">Cancelar</span>
              </button>

            </div>
          </div>
        </div>
      </div>
      <!-- end english modal -->
    </div>
  </div>
</div>
